In [7]:
def gen_nat_no_while():
    i=1
    n=int(input('enter the limit'))
    while(i<=n):
        print(i)
        i+=1
gen_nat_no_while()

enter the limit8
1
2
3
4
5
6
7
8

In [9]:
def while_loop_example():
    sum1=0
    count=1
    while (count<10):
        sum1=sum1+count
        cout=count+1
        print(count)
        count=count+1
    print(sum1)
while_loop_example()

1
2
3
4
5
6
7
8
9
45

In [14]:
def for_loop_example():
    number=[22,33]
    for i in number:
        print(i)
for_loop_example()

22
33

In [34]:
def for_loop_examples():
    name=input()
    for i in range(0,len(name)):
        print(name[i])
for_loop_examples()

hacker with suri
h
a
c
k
e
r

w
i
t
h

s
u
r
i

In [21]:
list1=['mahesh','pavi','chandana','hacker']

In [22]:
len(list1)

4

In [23]:
max(list1)

'pavi'

In [24]:
min(list1)

'chandana'

In [25]:
marklist=[22,44,55,11]
len(marklist)

4

In [26]:
max(marklist)

55

In [27]:
min(marklist)

11

In [28]:
list3=['pravinc',33,22,'suri']
len(list3)

4

In [32]:
arr=[2,3,4]
arr=arr*3
print(arr)

[2, 3, 4, 2, 3, 4, 2, 3, 4]

In [39]:
text="pravin with sneha"
print(text[::-1])

ahens htiw nivarp

In [48]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str
 
s = "pravin loves hacker"
 
print("The original string is : ", end="")
print(s)
 
print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : pravin loves hacker
The reversed string(using loops) is : rekcah sevol nivarp

In [49]:
a="pravin"
reverse(a)

'nivarp'

In [60]:
n=int(input("enter integer:"))
sum=0
i=1
while(i<=n):
    sum=sum+i
    i=i+1
print(sum)

enter integer:4
10

In [65]:
n=int(input("enter integer:"))
i=n
while(i>=1):
    print(i)
    i=i-1

enter integer:10
10
9
8
7
6
5
4
3
2
1

In [68]:
n = int(input())
a = 0
b = 1
sum = a + b
count = 1
print("Fibonacci series is: ",)
while (count <= n):
    count += 1
    print(a, end=" ")
    a = b
    b = sum
    sum = a + b

10
Fibonacci series is:
0 1 1 2 3 5 8 13 21 34

In [69]:
fact=1
i=1
num=int(input("enter a number: "))
while i<=num:
    fact=fact*i
    i=i+1
    print("the factorial of",num,"is",fact)

enter a number: 5
the factorial of 5 is 1
the factorial of 5 is 2
the factorial of 5 is 6
the factorial of 5 is 24
the factorial of 5 is 120