In [1]:
def mymax(a,*b):
    large=a
    for ele in b:
        if ele>large:
            large=ele
    return large
print(mymax(4,5,7,3,1,8,9,2))

9

In [14]:
def mysum(*a):
    total=0
    for ele in a:
        print(total,"+",ele,"=",end='')
        total+=ele
        print(total)
    return total
print(mysum(5,9,2,4))

0 + 5 =5
5 + 9 =14
14 + 2 =16
16 + 4 =20
20

In [18]:
def multiply(x,y):
    return x*y
a=4
b=7
operation=multiply
print(operation(a,b))

28

In [3]:
str1=input("enter string1")
str2=input("enter string2")
print(str1)
print(str2)

enter string1praven is decent guy
enter string2and RCB fan
praven is decent guy
and RCB fan

In [4]:
str3=(str1+str2)
print(str3)

praven is decent guy and RCB fan

In [5]:
print(str3[3:10])

ven is

In [6]:
print(len(str3))

32

In [7]:
print(str3.upper())

PRAVEN IS DECENT GUY AND RCB FAN

In [8]:
print(str3.lower())

praven is decent guy and rcb fan

In [9]:
print(str3.partition('praveen'))

('praven is decent guy and RCB fan', '', '')

In [10]:
print(str3.replace('praveen','mahesh'))

praven is decent guy and RCB fan

In [11]:
print(str3.find('RCB'))
print(str3.find('praveen'))

25
-1

In [13]:
print(str3.split(' '))

['praven', 'is', 'decent', 'guy', 'and', 'RCB', 'fan']

In [24]:
class Student:
    def __init__(self, name, reg_no, course):
        self.name = name
        self.reg_no = reg_no
        self.course = course
        self.marks = []

    def add_marks(self, subject, mark):
        self.marks.append((subject, mark))

    def calculate_total(self):
        return sum(mark for _, mark in self.marks)

    def calculate_average(self):
        return self.calculate_total() / len(self.marks)

    def calculate_grade(self):
        average = self.calculate_average()
        if average >= 90:
            return 'A'
        elif 80 <= average < 90:
            return 'B'
        elif 70 <= average < 80:
            return 'C'
        elif 60 <= average < 70:
            return 'D'
        else:
            return 'F'

    def display_details(self):
        print(f"Name: {self.name}")
        print(f"Registration Number: {self.reg_no}")
        print(f"Course: {self.course}")
        print("Subject Marks:")
        for subject, mark in self.marks:
            print(f"  {subject}: {mark}")
        print(f"Total: {self.calculate_total()}")
        print(f"Average: {self.calculate_average()}")
        print(f"Grade: {self.calculate_grade()}")


#def main():
    # Input student details
    name = input("Enter student name: ")
    reg_no = input("Enter registration number: ")
    course = input("Enter course: ")

    # Create a student object
    student = Student(name, reg_no, course)

    # Input subject marks
    for i in range(5):
        subject = input(f"Enter subject {i + 1} name: ")
        mark = float(input(f"Enter {subject} mark: "))
        student.add_marks(subject, mark)

    # Display student details
    print("\nStudent Details:")
    student.display_details()


#if __name__ == "__main__":
    #main()

Enter student name: mahi
Enter registration number: 101
Enter course: cs
Enter subject 1 name: maths
Enter maths mark: 99
Enter subject 2 name: phy
Enter phy mark: 99
Enter subject 3 name: bio
Enter bio mark: 100
Enter subject 4 name: che
Enter che mark: 99
Enter subject 5 name: kan
Enter kan mark: 100

Student Details:
Name: mahi
Registration Number: 101
Course: cs
Subject Marks:
  maths: 99.0
  phy: 99.0
  bio: 100.0
  che: 99.0
  kan: 100.0
Total: 497.0
Average: 99.4
Grade: A

In [18]:
print("SALARY PROGRAM")
name=str(input("Enter name of employee:"))
iden=int(input("enter iden of employee:"))
des=input("Enter designation of employee:")
basic=float(input("Enter Basic Salary :"))
da=float(basic*0.25)
hra=float(basic*0.15)
pf=float((basic+da)*0.12)
ta=float(basic*0.075)
netpay=float(basic+da+hra+ta)
grosspay=float(netpay-pf)

print("\n\n")
print("S A L A R Y D E T A I L E D B R E A K U P ")
print("==============================================")
print(" NAME OF EMPLOYEE : ",name)
print(" BASIC SALARY : ",basic)
print(" DEARNESS ALLOW. : ",da)
print(" HOUSE RENT ALLOW.: ",hra)
print(" TRAVEL ALLOW. : ",ta)
print("==============================================")
print(" NET SALARY PAY : ",netpay)
print(" PROVIDENT FUND : ",pf)
print("==============================================")
print(" GROSS PAYMENT : ",grosspay)
print("==============================================")

SALARY PROGRAM
Enter name of employee:radha
enter iden of employee:101
Enter designation of employee:web developer
Enter Basic Salary :60000



S A L A R Y D E T A I L E D B R E A K U P
==============================================
 NAME OF EMPLOYEE :  radha
 BASIC SALARY :  60000.0
 DEARNESS ALLOW. :  15000.0
 HOUSE RENT ALLOW.:  9000.0
 TRAVEL ALLOW. :  4500.0
==============================================
 NET SALARY PAY :  88500.0
 PROVIDENT FUND :  9000.0
==============================================
 GROSS PAYMENT :  79500.0
==============================================

In [20]:
class Employee:
    def __init__(self, emp_id, name, designation, basic_salary):
        self.emp_id = emp_id
        self.name = name
        self.designation = designation
        self.basic_salary = basic_salary

    def calculate_gross_salary(self):
        da = 0.05 * self.basic_salary
        hra = 0.10 * self.basic_salary
        gross_salary = self.basic_salary + da + hra
        return gross_salary

    def calculate_net_salary(self):
        da = 0.05 * self.basic_salary
        hra = 0.10 * self.basic_salary
        lic_deduction = 0.03 * self.basic_salary
        pf_deduction = 0.08 * self.basic_salary

        gross_salary = self.calculate_gross_salary()
        net_salary = gross_salary - (lic_deduction + pf_deduction)

        return net_salary

    def display_details(self):
        print(f"Employee ID: {self.emp_id}")
        print(f"Name: {self.name}")
        print(f"Designation: {self.designation}")
        print(f"Basic Salary: {self.basic_salary}")
        print(f"Gross Salary: {self.calculate_gross_salary()}")
        print(f"Net Salary: {self.calculate_net_salary()}")


def main():
    emp_id = input("Enter employee ID: ")
    name = input("Enter employee name: ")
    designation = input("Enter employee designation: ")
    basic_salary = float(input("Enter basic salary: "))
    employee = Employee(emp_id, name, designation, basic_salary)
    print("\nEmployee Details:")
    employee.display_details()


if __name__ == "__main__":
    main()

Enter employee ID: 101
Enter employee name: mahi
Enter employee designation: hacker
Enter basic salary: 300000

Employee Details:
Employee ID: 101
Name: mahi
Designation: hacker
Basic Salary: 300000.0
Gross Salary: 345000.0
Net Salary: 312000.0